<ion-icon name="bowtie" class="head-ion-icon" style="zoom:4.0;"></ion-icon>

<ion-content class="card-background-page">

  <ion-card >
  
    <img src="https://images.pexels.com/photos/57708/dog-bernese-mountain-dog-berner-senner-dog-57708.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
  
    <ion-card-content>
      <ion-card-title>

          <a href=""><ion-icon name="refresh-circle" class="refresh-circle" style="zoom:2.0;"></ion-icon></a>

          <a href=""><ion-icon name="close-circle" class="close-circle" style="zoom:2.0;"></ion-icon></a>

          <a href=""><ion-icon name="heart" class="heart" style="zoom:2.0;"></ion-icon></a>

          <p><ion-icon name="pin"></ion-icon><span>6k </span><span>Pupfly </span><span class="genr"> Male</span></p>
        
      </ion-card-title>

          <p>São José dos Campos</p>

    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
    <ion-toolbar>

        <a href=""><ion-icon  name="contact" class="contact" style="zoom:1.0;"></ion-icon></a>

        <a href=""><ion-icon name="images" class="images" style="zoom:1.0;"></ion-icon></a>

        <a href=""><ion-icon name="chatboxes" class="chatboxes" style="zoom:1.0;"></ion-icon></a>
    
    </ion-toolbar>
  </ion-footer>